/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.test
{
  height: 100vh;
}

.marg
{
  margin-top: 25px;
}


// view of car
.wi
{
  max-width: 800px;
  // padding: 10px;
}

.cardi
{
  // max-width: 800px;
  margin: 5px;
  // margin : auto;
  // margin-top: 20px;
}

.info_car
{
  margin: 5px;
}

.page_car
{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  background-color: #FAFAFA;
}

.page
{
    display: flex;
    justify-content: center;
}

.gras
{
  font-weight:bold;
}

.size
{
  font-size: 1.6em;
}

.price
{
  color: orange;
  font-weight:bold;
}

